{
  "extends": "airbnb",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "prefer-const": 0,
    "func-names": 0,
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "document": true,
    "MyLib": true
  }
}
