.edit-container {
  display: flex;
  flex-direction: row;
}
.edit-box {
  width: 250px;
  height: 445px;
  border: 1px solid lightgray;
  padding: 15px;
}
.edit-box__input {
  width: 100px;
  margin: 4px;
}

.link { 
  text-decoration: none;
  color: #0366d6;
  font-size: 42px;
}

.link:hover { text-decoration: underline; }

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
